<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoparty.mapper.FullcutMapper">
    <resultMap id="BaseResultMap" type="com.yoparty.bean.Fullcut">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="type1" property="type1" jdbcType="TINYINT"/>
        <result column="type2" property="type2" jdbcType="TINYINT"/>
        <result column="type3" property="type3" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, user_id, type1, type2, type3
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yoparty.bean.FullcutExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from fullcut
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from fullcut
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from fullcut
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.yoparty.bean.FullcutExample">
        delete from fullcut
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.yoparty.bean.Fullcut">
        insert into fullcut (id, user_id, type1,
        type2, type3)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{type1,jdbcType=TINYINT},
        #{type2,jdbcType=TINYINT}, #{type3,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.yoparty.bean.Fullcut">
        insert into fullcut
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="type1 != null">
                type1,
            </if>
            <if test="type2 != null">
                type2,
            </if>
            <if test="type3 != null">
                type3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="type1 != null">
                #{type1,jdbcType=TINYINT},
            </if>
            <if test="type2 != null">
                #{type2,jdbcType=TINYINT},
            </if>
            <if test="type3 != null">
                #{type3,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.yoparty.bean.FullcutExample" resultType="java.lang.Integer">
        select count(*) from fullcut
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update fullcut
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.type1 != null">
                type1 = #{record.type1,jdbcType=TINYINT},
            </if>
            <if test="record.type2 != null">
                type2 = #{record.type2,jdbcType=TINYINT},
            </if>
            <if test="record.type3 != null">
                type3 = #{record.type3,jdbcType=TINYINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update fullcut
        set id = #{record.id,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        type1 = #{record.type1,jdbcType=TINYINT},
        type2 = #{record.type2,jdbcType=TINYINT},
        type3 = #{record.type3,jdbcType=TINYINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.yoparty.bean.Fullcut">
        update fullcut
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="type1 != null">
                type1 = #{type1,jdbcType=TINYINT},
            </if>
            <if test="type2 != null">
                type2 = #{type2,jdbcType=TINYINT},
            </if>
            <if test="type3 != null">
                type3 = #{type3,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yoparty.bean.Fullcut">
        update fullcut
        set user_id = #{userId,jdbcType=INTEGER},
        type1 = #{type1,jdbcType=TINYINT},
        type2 = #{type2,jdbcType=TINYINT},
        type3 = #{type3,jdbcType=TINYINT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>