<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoparty.mapper.LeaderMapper">
    <resultMap id="BaseResultMap" type="com.yoparty.bean.Leader">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="wechat" property="wechat" jdbcType="VARCHAR"/>
        <result column="qrcode" property="qrcode" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="route" property="route" jdbcType="VARCHAR"/>
        <result column="hobby" property="hobby" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, user_id, wechat, qrcode, introduction, route, hobby
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yoparty.bean.LeaderExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from leader
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from leader
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from leader
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.yoparty.bean.LeaderExample">
        delete from leader
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.yoparty.bean.Leader">
        insert into leader (id, user_id, wechat,
        qrcode, introduction, route,
        hobby)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{wechat,jdbcType=VARCHAR},
        #{qrcode,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{route,jdbcType=VARCHAR},
        #{hobby,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.yoparty.bean.Leader">
        insert into leader
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="wechat != null">
                wechat,
            </if>
            <if test="qrcode != null">
                qrcode,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="route != null">
                route,
            </if>
            <if test="hobby != null">
                hobby,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="wechat != null">
                #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="qrcode != null">
                #{qrcode,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="route != null">
                #{route,jdbcType=VARCHAR},
            </if>
            <if test="hobby != null">
                #{hobby,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.yoparty.bean.LeaderExample" resultType="java.lang.Integer">
        select count(*) from leader
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update leader
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.wechat != null">
                wechat = #{record.wechat,jdbcType=VARCHAR},
            </if>
            <if test="record.qrcode != null">
                qrcode = #{record.qrcode,jdbcType=VARCHAR},
            </if>
            <if test="record.introduction != null">
                introduction = #{record.introduction,jdbcType=VARCHAR},
            </if>
            <if test="record.route != null">
                route = #{record.route,jdbcType=VARCHAR},
            </if>
            <if test="record.hobby != null">
                hobby = #{record.hobby,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update leader
        set id = #{record.id,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        wechat = #{record.wechat,jdbcType=VARCHAR},
        qrcode = #{record.qrcode,jdbcType=VARCHAR},
        introduction = #{record.introduction,jdbcType=VARCHAR},
        route = #{record.route,jdbcType=VARCHAR},
        hobby = #{record.hobby,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.yoparty.bean.Leader">
        update leader
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="wechat != null">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="qrcode != null">
                qrcode = #{qrcode,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="route != null">
                route = #{route,jdbcType=VARCHAR},
            </if>
            <if test="hobby != null">
                hobby = #{hobby,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yoparty.bean.Leader">
        update leader
        set user_id = #{userId,jdbcType=INTEGER},
        wechat = #{wechat,jdbcType=VARCHAR},
        qrcode = #{qrcode,jdbcType=VARCHAR},
        introduction = #{introduction,jdbcType=VARCHAR},
        route = #{route,jdbcType=VARCHAR},
        hobby = #{hobby,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!---->
    <select id="selectLeaderByActivityId" parameterType="Integer" resultMap="BaseResultMap">
        SELECT leader.* from leader, leader_activity WHERE leader_activity.activity_id= #{id} and
        leader.id=leader_activity.leader_id
    </select>
</mapper>